<template>
  <ValidationProvider 
    :name="$attrs.label" 
    :rules="rules" 
    v-slot="{ errors, valid }"
  >
    <v-select 
        v-model="innerValue" 
        :error-messages="errors" 
        v-bind="$attrs" 
        v-on="$listeners"
        :success="valid"
    />
  </ValidationProvider>
</template>

<script lang="ts">
import { 
    Component, 
    Prop, 
    Vue, 
    Watch 
} from 'vue-property-decorator';
import { 
    ValidationProvider, 
    ValidationObserver 
} from 'vee-validate';
import { Rules } from '@/interfaces';

@Component({
  components: {
    ValidationProvider,
    ValidationObserver
  }
})
export default class VSelectWithValidation extends Vue{
    @Prop({
        type: [Object as () => Rules, String],
        default: 'default value'
    })
    public rules!: Rules | string

    @Prop([String, Boolean, Number])
    public value!: any
    
    public innerValue: string | number = '';

    @Watch('innerValue')
    public _execute(newVal: any) {
      this.$emit("input", newVal);
    }

    @Watch('value')
    public execute(newVal: any) {
      this.innerValue = this.value;
    }

    created() {
        if (this.value) {
            this.innerValue = this.value;
        }
    }
}
</script>
