<template>
  <ValidationObserver 
    ref="obs" 
    v-slot="{ 
      invalid, 
      validated, 
      passes, 
      validate 
    }"
  >
  <v-container>
    <v-card class="elevation-12">
      <v-toolbar dark color="primary">
        <v-toolbar-title>
          VeeValidate Providers
        </v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-form>
          <VTextWithValidation 
            rules="required|max:10" 
            v-model="name" 
            label="Name"
            :counter='10' 
          />
          <VTextWithValidation 
            rules="required|email" 
            v-model="email" 
            label="E-mail" 
          />
          <VSelectWithValidation 
            rules="required" 
            :items="items" 
            v-model="select" 
            label="Select" 
          />

          <ValidationProvider 
            rules="required" 
            name="checkbox" 
            v-slot="{ 
              errors, 
              valid 
            }"
          >
            <v-checkbox
              v-model="checkbox"
              :error-messages="errors"
              :success="valid"
              value="1"
              label="Option"
              type="checkbox"
              required
            />
          </ValidationProvider>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="clear">
          Clear
        </v-btn>
        <v-spacer></v-spacer>
        <!-- <v-btn @click="validate()">Validate</v-btn> -->
        <v-btn 
          color="primary" 
          @click="passes(submit)" 
          :disabled="invalid || !validated"
        >
          Sign Up
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
  </ValidationObserver>
</template>

<script lang="ts">
import { 
  Component, 
  Prop, 
  Vue 
} from 'vue-property-decorator';
import { 
  ValidationProvider, 
  ValidationObserver, 
  localize 
} from "vee-validate";
import VSelectWithValidation from './inputs/VSelectWithValidation.vue';
import VTextWithValidation from './inputs/VTextWithValidation.vue';
import { VeeValidateObserverRef } from '@/interfaces';

@Component({
  components: {
    ValidationProvider,
    ValidationObserver,
    VSelectWithValidation,
    VTextWithValidation
  },
})
export default class HelloWorld extends Vue{
    $refs!: {
      obs: VeeValidateObserverRef
    }
  // @Prop() private msg!: string;
    items: string[] = ["", "Foo", "Bar"];
    name: string = "";
    email: string = "";
    select: string = "";
    checkbox: boolean = false;

  async submit(): Promise<void> {
    console.log('submitting!')
  }

  async clear(): Promise<void> {
    this.name = this.email = this.select = "";
    this.checkbox = false;
    
    requestAnimationFrame(() => {
      this.$refs.obs.reset();
    });
  }

  created(): void {
    // localize('ar');
  }
    
}
</script>
